:root {
    --main-color: #EBEEF5;
    --secondary-color: #F7F6FF;
    --third-color: #C4C4C4;
    --fourth-color: #02577A;
    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }