.body {
    display: flex;
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Montserrat';
}

.main-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100px;
    height: 100vh;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hidden {
    text-decoration: none;
    opacity: 0;
    overflow: hidden;
    color: var(--third-color);
    align-self: center;
}

.main-nav:hover {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 206px;
    height: 100vh;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 1s all;
}

.main-nav:hover .hidden {
    opacity: 1;
}

.main-nav:hover .color1 {
    color: var(--fourth-color);
}

.line {
    height: 2px;
    width: 60%;
    align-self: center;
    background-color: var(--third-color);
}

.logo {
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 52px;
}

.main-nav:hover .logo {
    padding-bottom: 24px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 52px;
    margin-left: 39px;
    margin-right: 39px;
    transition: 1s;
}


.container {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
}


.home {
    display: grid;
    grid-template-columns: 25px auto;
    padding: 16px 32px;
    margin-left: 11px;
    gap: 19px;
    background-color: #FFFFFF;
    color: var(--fourth-color);
    border-radius: 25px 0px 0px 25px;
    margin-top: 32px;
}

.rest{
    display: grid;
    grid-template-columns: 25px auto;
    padding: 16px 32px;
    margin-left: 11px;
    gap: 15px;
}

.bot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
    width: 346.01px;
    margin-left: calc((100vw - 50%) - 308px);
    color: var(--fourth-color);
    font-style: normal;
    height: 35px;
    border-top: 1px solid var(--fourth-color);
}

.bottxt {
    margin-top: 11px;
    font-size: 11px;
    font-weight: bold;
}
